html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: rgb(58, 128, 233);
  color: var(--white);
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* Width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(58, 128, 233);
  border-radius: 1rem;
}
// ====================================
//         utility
// =====================================
.main-btn {
  background-color: rgb(58, 128, 233);
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
}
.main-btn:hover {
  box-shadow: 0 0 3px rgb(58, 128, 233);
}
// ====================================
//         Header component
// =====================================

.navbar,
.offcanvas {
  background-color: white;
  h1.navbar-brand {
    font-size: 2.1rem;
    color:rgb(58, 128, 233);
    a,:hover {
      color: black;
    }
  }
  a {
    text-decoration: none;
    color: rgb(146, 144, 144);
    font-weight: bold;
    &:hover {
      color: black;
    }
  }
}
// ====================================
//         Home component
// =====================================

//--------------------------------------------------------------
.big-heading {
  font-size: 8rem;
}
.big-heading-blue {
  color: rgb(58, 128, 233);
}
.stroke:hover {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
  transition: all 0.5s;
}
//-----------------------------------------------------------
.heading-container {
  .big-heading {
    padding-top: 100px;
  }
  .para {
    color: grey;
  }
}
.img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  img {
    width: 70%;
    height: 70vh;
    position: absolute;
  }
  .home-animation{
    animation-name: home;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@keyframes home {
  from{
    transform: translateY(-50px);
  }  
}

// ====================================
//         Dashboard & Exchange component
// =====================================
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  a {
    text-decoration: none;
  }
}
.coin-card {
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 2px grey;
  color: black;
  transition: all 0.3s;
  background-color: white;
}
.coin-card:hover {
  border: 1px solid rgb(58, 128, 233);
  box-shadow: 0 0 5px rgb(58, 128, 233);
  transform: scale(1.1);
}


// =======================================
//        GoToTop                           
//===========================================
.goToTop{
  color: rgb(58, 128, 233);
  font-size: 4rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  animation-name: top ;
  animation-duration: .5s ;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes top{
  from{
    transform: translateY(-20px);
  }
}